<?xml version="1.0" encoding="utf-8"?>
<!-- 需要安装 IIS URL Rewrite 与 Application Request Routing，并启用 Proxy。 -->
<!-- 将 127.0.0.1:8080 改为 WAD 本机监听地址；原业务必须使用另一个端口。 -->
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="WAD reverse proxy" stopProcessing="true">
          <match url="(.*)" />
          <action
            type="Rewrite"
            url="http://127.0.0.1:8080/{R:1}"
            appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>
    <proxy enabled="true" preserveHostHeader="true" />
  </system.webServer>
</configuration>
